@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?v2r226");
  src: url("../fonts/icomoon.eot?v2r226#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?v2r226") format("truetype"), url("../fonts/icomoon.woff?v2r226") format("woff"), url("../fonts/icomoon.svg?v2r226#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-off:before {
  content: "\e904";
  color: #003e7e;
}

.icon-check-on:before {
  content: "\e905";
  color: #0a61ff;
}

.icon-radio-off:before {
  content: "\e906";
  color: #003e7e;
}

.icon-radio-on:before {
  content: "\e907";
  color: #006fe6;
}

.icon-visa-off,
.icon-visa-on,
.icon-american-off,
.icon-american-on,
.icon-master-off,
.icon-master-on,
.icon-diners-off,
.icon-diners-on,
.icon-wallet,
.icon-plus,
.icon-calander,
.icon-idea,
.icon-check,
.icon-question,
.icon-list,
.icon-number {
  max-width: 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-image: url("../img/sprite.png");
}

.icon-visa-off {
  background-position: 0 0%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.icon-visa-on {
  background-position: 0 9.125841%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.icon-american-off {
  background-position: 0 18.251681%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
}

.icon-american-on {
  background-position: 0 27.377522%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
}

.icon-master-off {
  background-position: 0 36.503362%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
}

.icon-master-on {
  background-position: 0 45.629203%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
}

.icon-diners-off {
  background-position: 0 54.755043%;
  -webkit-background-size: 102.857143% 102.857143%;
  background-size: 102.857143%;
}

.icon-diners-on {
  background-position: 0 63.880884%;
  -webkit-background-size: 102.857143% 102.857143%;
  background-size: 102.857143%;
}

.icon-wallet {
  background-position: 0 70.046083%;
  -webkit-background-size: 313.043478% 313.043478%;
  background-size: 313.043478%;
}

.icon-plus {
  background-position: 0 74.609016%;
  -webkit-background-size: 327.272727% 327.272727%;
  background-size: 327.272727%;
}

.icon-calander {
  background-position: 0 79.116835%;
  -webkit-background-size: 342.857143% 342.857143%;
  background-size: 342.857143%;
}

.icon-idea {
  background-position: 0 83.624655%;
  -webkit-background-size: 360% 360%;
  background-size: 360%;
}

.icon-check {
  background-position: 0 87.648673%;
  -webkit-background-size: 378.947368% 378.947368%;
  background-size: 378.947368%;
}

.icon-question {
  background-position: 0 91.5828%;
  -webkit-background-size: 378.947368% 378.947368%;
  background-size: 378.947368%;
}

.icon-list {
  background-position: 0 96.398892%;
  -webkit-background-size: 423.529412% 423.529412%;
  background-size: 423.529412%;
}

.icon-number {
  background-position: 0 100%;
  -webkit-background-size: 423.529412% 423.529412%;
  background-size: 423.529412%;
}

/*---------- HOME PAGE  ----------*/

html {
  font-size: 10px;
}

body {
  direction: rtl;
  font-family: "Open Sans Hebrew", sans-serif;
  position: relative;
  min-height: 100%;
}

.wrapper {
  background-color: #022a4e;
  margin: 0 auto;
  max-width: 750px;
  min-height: 100vh;
  padding: 0 0 10.0rem 0;
}

/*----- HEADER -----*/

header {
  background-color: #fff;
  padding: 1.6rem 0.0rem 1.4rem 1.6rem;
}

.header-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-content .header__figure img {
  width: 100%;
}

.header-content .header__figure:first-child {
  margin-left: 9.0rem;
  width: 21rem;
}

.header-content .header__figure:last-child {
  width: 6.2rem;
}

/*----- MAIN -----*/

/*----- TOP-SECTION -----*/

.bodyHome .top-section {
  padding: 3.0rem 2.1rem 1.5rem;
}

.top-section {
  background-color: #022a4e;
  padding: 3.0rem 1.5rem 1.5rem;
}

.top__figure {
  margin: 0 auto 3.0rem;
  padding: 0 3.5rem;
  text-align: center;
}

.top__img {
  margin: 0 auto;
  width: 100%;
}

.top__title {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.7px;
  margin: 0 auto 1rem;
  text-align: center;
}

.top__subtitle {
  color: #d8d8d8;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 2.0rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 2.0rem;
  margin: 0 auto;
  text-align: center;
}

.loginForm {
  padding: 0 2.5rem 0 3.0rem;
  margin: 0 auto;
  text-align: center;
}

.loginForm .form-group {
  margin-bottom: 2.0rem;
}

.loginForm__input {
  background-color: #022a4e;
  border-color: rgba(255, 255, 255, 0.46);
  border-width: 0 0 1px 0;
  color: #fff;
  font-size: 1.6rem;
  outline: 0;
  padding: 0 0 .8rem 0;
  width: 100%;
}

.loginForm__submit {
  background-color: #fcc40a;
  -webkit-border-radius: 2.4rem;
  border-radius: 2.4rem;
  border: none;
  color: #022a4e;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
  letter-spacing: .7px;
  padding: 1.0rem 4.5rem;
}

.loginForm ::-webkit-input-placeholder {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.loginForm ::-moz-placeholder {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.loginForm :-ms-input-placeholder {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.loginForm :-moz-placeholder {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
}

.loginForm ::-moz-placeholder {
  opacity: 1;
}

.loginForm__text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0;
  text-align: right;
}

.loginForm__text_sm {
  font-size: 1.5rem;
}

.loginForm__text_bld {
  color: #fcc40a;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.05rem;
  text-align: center;
}

.idMatchCopy {
  background-color: #fff;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  margin-top: 4rem;
  padding: 1.5rem 2.5rem 1.2rem 3.0rem;
}

.idMatchCopy__title {
  color: #022a4e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.2rem;
  margin-bottom: 1.8rem;
  text-align: center;
}

.idMatchCopy__text,
.idMatchCopy__link {
  color: #022a4e;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: right;
}

.idMatchCopy__link:hover,
.idMatchCopy__link:focus {
  color: #022a4e;
  text-decoration: none;
}

.idMatchCopy__figure {
  margin: 0 auto 1.8rem;
  text-align: center;
  height: auto;
  width: 2.3rem;
}

.idMatchCopy__figure .icon-idea {
  background-image: url(../img/sprite.png);
  display: inline-block;
  height: 2.2rem;
  width: 2.0rem;
}

/*----- FOOTER-----*/

footer {
  background-color: #022a4e;
  padding: 1.5rem 1.4rem 2.0rem;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.footer__text {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 0;
  opacity: 1;
}

/*---------- STAGE1B PAGE ----------*/

.bodyStage.modal-open {
  padding-right: 0 !important;
}

.bodyStage .wrapper {
  padding-bottom: 5rem;
}

.bodyStage .wrapper,
.bodyStage .footer {
  background-color: #f4f4f4;
}

.bodyStage main {
  background-color: #f4f4f4;
  margin-bottom: 0rem;
}

.bodyStage .footer {
  padding-top: 0rem;
}

/*----- topStage - section -----*/

.topStage {
  background-color: #022a4e;
  padding: 1.3rem 0rem 4.0rem;
}

.topStage__title {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 0.1px;
  margin-bottom: 3.5rem;
  text-align: center;
}

nav {
  position: relative;
}

nav .nav__figure {
  position: absolute;
  right: .3rem;
  top: 2.2rem;
}

nav .nav__img {
  position: relative;
  width: 4.0rem;
  z-index: 1;
}

nav .nav__progressBar {
  background-color: #fcc40a;
  bottom: -2.0rem;
  height: .4rem;
  position: absolute;
  right: 0;
  width: 4.5rem;
  z-index: 0;
}

nav .nav__progressBar::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: .5rem .5rem 0 0;
  border-color: #022a4e transparent transparent transparent;
  position: absolute;
  left: 0;
  bottom: 0;
}

nav .navList {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 6.0rem;
  padding: 0rem .5rem;
}

nav .navList__item {
  display: inline-block;
  position: relative;
  text-align: center;
}

nav .navList__item_divider::after {
  border: 1px solid #fff;
  border-width: 0 1px 1px 0;
  content: '';
  display: block;
  height: .8rem;
  left: 0;
  position: absolute;
  top: -0.4rem;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  width: .8rem;
}

nav .navList__item_passed::after {
  border-color: #fcc40a;
}

nav .navList__link {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  white-space: nowrap;
}

nav .navList__link:hover,
nav .navList__link:focus {
  color: #fff;
  text-decoration: none;
}

nav .navList__link_active {
  color: #fcc40a;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
  line-height: 1.8rem;
}

nav .navList__link_active:hover,
nav .navList__link_active:focus {
  color: #fcc40a;
}

nav .navList__link_passed {
  margin-right: 3.3rem;
}

nav .navList__link_passed::after {
  background: url(../img/sprite.png);
  background-position: 0 87.648673%;
  -webkit-background-size: 378.947368% 378.947368%;
  background-size: 378.947368%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 1.9rem;
  margin-left: 2.5rem;
  vertical-align: middle;
  width: 1.9rem;
}

.topStageForm {
  text-align: center;
}

.topStageForm .form-group {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.topStageForm__label {
  color: #fff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  margin: 0 0 0 3.5rem;
}

.topStageForm__select {
  background-color: transparent;
  border: 0rem;
  color: #022a4e;
  cursor: pointer;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700 !important;
  font-size: 1.4rem;
  outline: 0rem;
  padding: .9rem 2.0rem 0rem 3.0rem;
  text-align-last: center;
  -ms-text-align-last: center;
  -moz-text-align-last: center;
  vertical-align: middle;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.topStageForm__select::-ms-expand {
  display: none;
}

.topStageForm__select::-ms-expand option {
  border: 0rem;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700 !important;
  font-size: 1.4rem;
  outline: 0rem;
}

.topStageForm__selectWrapper {
  -webkit-border-radius: 2.0rem;
  border-radius: 2.0rem;
  background-color: #fcc40a;
  display: inline-block;
  height: 4.0rem;
  margin: 0rem;
  position: relative;
  width: 17.0rem;
}

.topStageForm__selectWrapper::after {
  border-color: #022a4e transparent transparent transparent;
  border-style: solid;
  border-width: .5rem .5rem 0rem .5rem;
  content: '';
  display: inline-block;
  height: 0rem;
  margin-top: -0.2rem;
  pointer-events: none;
  position: absolute;
  left: 5.0rem;
  top: 50%;
  width: 0rem;
  z-index: 1;
}

.stageForm {
  background-color: #f4f4f4;
  padding: 0rem 0rem 0rem;
}

.stageForm .form-row,
.stageForm__containerRow {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stageForm__containerRow_pl2 {
  padding-left: 2rem;
}

.stageForm .form-row {
  padding: 3.0rem 0rem 0.0rem;
}

.stageForm .form-row_border {
  border-bottom: solid 1px rgba(140, 168, 197, 0.33);
}

.stageForm .form-row_algnSt {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.stageForm__fieldset {
  background-color: #fff;
  padding: 0rem 4.5rem;
}

.stageForm__fieldset_1 {
  border-bottom: solid 1px rgba(140, 168, 197, 0.33);
  padding-top: 3.0rem;
  padding-bottom: 3.2rem;
}

.stageForm__fieldset_2 {
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  margin-bottom: .5rem;
  padding-top: 4.5rem;
}

.stageForm__fieldset_2 .form-row {
  padding-top: 2.8rem;
}

.stageForm__fieldset_3 {
  background-color: #f4f4f4;
  padding-bottom: 4.0rem;
}

.stageForm__fieldset_3 .form-row {
  padding: 1.5rem 0rem 1.5rem;
}

.stageForm__fieldset_3 .form-row_pt25 {
  padding: 2.5rem 0 2.5rem;
}

.stageForm .col {
  padding: 0rem;
}

.stageForm .stageForm__fieldset_1 .col:last-child,
.stageForm .stageForm__fieldset_2 .col:last-child {
  margin-right: -3rem;
}

.stageForm .form-group {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.stageForm .form-group_pb0 {
  padding-bottom: 0;
}

.stageForm__fieldset_1 .stageForm__container,
.stageForm__fieldset_2 .stageForm__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: .5rem;
  width: 100%;
}

.stageForm__fieldset_1 .stageForm__container_flexCol,
.stageForm__fieldset_2 .stageForm__container_flexCol {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.stageForm__title {
  color: #003e7e;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: -0.4px;
}

.stageForm__title::before {
  background: url(../img/stageB/icon.svg) center no-repeat;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  content: '';
  display: inline-block;
  height: 3.3rem;
  margin-left: 1.5rem;
  vertical-align: middle;
  width: 3.3rem;
}

.stageForm__label,
.stageForm__text {
  color: #003e7e;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.stageForm__text {
  display: inline-block;
}

.stageForm__text_bold {
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
}

.stageForm__text_alert {
  color: #eb001b;
  line-height: 1.5rem;
  margin-bottom: 0;
}

.stageForm__text_w51 {
  width: 51%;
  line-height: 1.5rem;
}

.stageForm input {
  border: solid 1px rgba(140, 168, 197, 0.33);
  border-width: 0 0 1px 0;
  color: #0a61ff;
  outline: 0px;
  padding: 0;
}

.stageForm input::-webkit-input-placeholder {
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}

.stageForm input:-moz-placeholder {
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}

.stageForm input::-moz-placeholder {
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}

.stageForm input:-ms-input-placeholder {
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
}

.stageForm input::-moz-placeholder {
  opacity: 1;
}

.stageForm input[type="text"], .stageForm input[type="number"], .stageForm input[type="tel"], .stageForm input[type="email"], .stageForm input[type="password"] {
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  width: 100%;
}

.stageForm select {
  background-color: #fff;
  color: #0a61ff;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  border: 0px;
  outline: 0px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.stageForm select::-ms-expand {
  display: none;
}

.stageForm select::-ms-expand option {
  border: 0px;
  outline: 0px;
}

.stageForm__select {
  padding: 0 0 0 1.5rem;
}

.stageForm__select_pl5 {
  padding-left: .5rem;
}

.stageForm__radioContainer {
  color: #003e7e;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-right: 2.5rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stageForm__radioContainer input {
  position: absolute;
  opacity: 0;
}

.stageForm__radioContainer:last-child {
  margin-right: 1.0rem;
}

.stageForm__radioContainer_mr0:last-child {
  margin-right: 0;
}

.stageForm__radioCheckmark {
  position: absolute;
  top: .1rem;
  right: 0;
}

.stageForm__selectWrapper {
  display: inline-block;
  margin: 0;
  position: relative;
}

.stageForm__selectWrapper::after {
  border-style: solid;
  border-width: .5rem .5rem 0 .5rem;
  border-color: #003e7e transparent transparent transparent;
  content: '';
  display: inline-block;
  height: 0;
  margin-top: -0.2rem;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  z-index: 1;
}

.stageForm__checkboxContainer {
  color: #003e7e;
  font-weight: 400;
  font-size: 1.5rem;
  display: block;
  position: relative;
  padding-right: 3.5rem;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stageForm__checkboxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.stageForm__checkboxMark {
  position: absolute;
  top: 0;
  right: 0;
}

.stageForm__submit {
  border: 0;
  -webkit-border-radius: 2.4rem;
  border-radius: 2.4rem;
  background-color: #022a4e;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  margin: 0.0rem auto 0;
  padding: .9rem 3.9rem;
  position: relative;
}

.stageForm__submit::after {
  border: solid #fff;
  border-width: 0 0 .2rem .2rem;
  content: '';
  display: block;
  height: .9rem;
  left: 1.5rem;
  position: absolute;
  top: 1.6rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .9rem;
}

.stageForm .icon-check-on,
.stageForm .icon-radio-on {
  display: none;
}

.stageForm__radioContainer input:checked ~ .stageForm__radioCheckmark .icon-radio-off {
  display: none;
}

.stageForm__radioContainer input:checked ~ .stageForm__radioCheckmark .icon-radio-on {
  display: inline-block;
}

.stageForm__checkboxContainer input:checked ~ .stageForm__checkboxMark .icon-check-off {
  display: none;
}

.stageForm__checkboxContainer input:checked ~ .stageForm__checkboxMark .icon-check-on {
  display: inline-block;
}

.stageForm__fieldset_3 .stageForm__text,
.stageForm__fieldset_3 .stageForm__label {
  color: #022a4e;
  display: block;
}

.bodyStage .footer__text {
  color: #003e7e;
}

.stageForm__label._checked {
  color: #0a61ff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/*---------- STAGE1B2 PAGE ----------*/

.bodyStage1b2 .nav__figure {
  right: 2rem;
}

.bodyStage1b2 .nav__progressBar {
  width: 6rem;
}

.topStage1b2__form .topStageForm__selectWrapper::after {
  left: 1rem;
}

.topStage1b2__form .topStageForm__select {
  padding: .9rem 0rem 0rem 1rem;
}

.stage1b2__form .stageForm__fieldset_1 {
  border-bottom: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}

/*---------- PAGE STAGE 1C ----------*/

/*----- topStage1c-section -----*/

.bodyStage1c main {
  padding-bottom: 2rem;
}

.topStage1c .nav__figure {
  right: 4.3rem;
}

.topStage1c .nav__progressBar {
  width: 8.5rem;
}

.topStage1c__form .topStageForm__selectWrapper::after {
  left: 2rem;
}

.topStage1c__form .topStageForm__select {
  padding: .9rem 2.0rem 0rem 8rem;
  width: 100%;
}

.stage1c {
  background-color: #f4f4f4;
}

.stage1cItem_top {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  padding: 1.5rem 4.2rem 1rem 5.0rem;
}

.stage1cItem_top .stage1cItem__container {
  padding: 1.6rem 0 1.0rem;
}

.stage1cItem_top .stage1cItem__container .stage1cItem__text:first-child {
  width: 50%;
}

.stage1cItem_top .stage1cItem__container:not(:last-child) {
  border-bottom: solid 2px rgba(140, 168, 197, 0.33);
}

.stage1cItem_btm {
  padding: 1.0rem 0rem 1.3rem 0rem;
}

.stage1cItem_btm .stage1cItem__container {
  padding: 0rem 1rem;
}

.stage1cItem_btm .stage1cItem__container:first-child {
  padding: 0.8rem 2rem 3.1rem 2.9rem;
}

.stage1cItem__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.stage1cItem__text {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  color: #003e7e;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
}

.stage1cItem__text_bold {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.stage1cItem__text_lght {
  color: #0a61ff;
}

.stage1cItem__link {
  color: #022a4e;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.stage1cItem__link:hover,
.stage1cItem__link:focus {
  color: #022a4e;
  text-decoration: none;
}

.stage1cItem__link:last-child::before {
  background: url(../img/sprite.png);
  background-position: 0 74.609016%;
  -webkit-background-size: 327.272727% 327.272727%;
  background-size: 327.272727%;
  content: '';
  display: block;
  height: 2.5rem;
  margin: 0 auto;
  width: 2.2rem;
}

.stage1cItem__link:first-child::before {
  background: url(../img/sprite.png) center no-repeat;
  background-position: 0 96.398892%;
  -webkit-background-size: 423.529412% 423.529412%;
  background-size: 423.529412%;
  content: '';
  display: block;
  height: 2.7rem;
  margin: 0 auto;
  width: 1.9rem;
}

.stage1cItem__divider {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  background-color: #003e7e;
  height: 3rem;
  width: .1rem;
}

.stage1cItem__button_next::after {
  left: 1.5rem;
}

.stage1cItem__button_prev::after {
  right: 1.5rem;
}

.bottomButton {
  border: 0;
  -webkit-border-radius: 2.4rem;
  border-radius: 2.4rem;
  cursor: pointer;
  display: block;
  font-family: "Open Sans Hebrew", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0.0rem auto 0;
  position: relative;
}

.bottomButton_next {
  background-color: #022a4e;
  color: #fff;
  padding: 1rem 2rem 1rem 0;
  text-align: right;
  width: 23.4rem;
}

.bottomButton_next::after {
  border: solid #fff;
  border-width: 0 0 .2rem .2rem;
  content: '';
  display: block;
  height: .9rem;
  position: absolute;
  top: 1.7rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: .9rem;
}

.bottomButton_prev {
  background-color: #fff;
  border: 1px solid #022a4e;
  color: #022a4e;
  padding: 1rem 2.7rem;
}

.bottomButton_prev::after {
  border: solid #022a4e;
  border-width: 0 0 .2rem .2rem;
  content: '';
  display: block;
  height: .9rem;
  position: absolute;
  top: 1.7rem;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  width: .9rem;
}

/*----- STAGE1C POPUP -----*/

.step1aModal {
  padding: 1.0rem 0 2.8rem;
}

.step1aModal__title {
  color: #022a4e;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 0.1px;
  margin: 0 auto 1rem;
  text-align: center;
}

.step1aModal .modal-dialog {
  max-width: 34rem;
}

.step1aModal .modal-content {
  background-color: transparent;
}

.step1aModal .modal-header {
  background-color: #fff;
  border: 0;
  -webkit-border-top-left-radius: .4rem;
  border-top-left-radius: .4rem;
  -webkit-border-top-right-radius: .4rem;
  border-top-right-radius: .4rem;
  padding-top: 2.1rem;
}

.step1aModal .modal-header button.close {
  color: #022a4e;
  left: 1.0rem;
  opacity: 1;
  position: absolute;
  top: .5rem;
}

.step1aModal .modal-header button.close span {
  font-size: 2.4rem;
}

.step1aModal .modal-body {
  padding: 0;
}

.step1aModal .modal-footer {
  border: 0;
  padding: 0;
}

.step1aModalItem {
  background-color: #fff;
  margin-bottom: .2rem;
  padding: 1.0rem 1.5rem 1.0rem;
}

.step1aModalItem_yellow {
  border-bottom: 0;
  -webkit-border-bottom-left-radius: .4rem;
  border-bottom-left-radius: .4rem;
  -webkit-border-bottom-right-radius: .4rem;
  border-bottom-right-radius: .4rem;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.step1aModalItem_yellow .step1aModalItem__container {
  padding-top: 0;
  padding-bottom: 1.2rem;
  position: relative;
}

.step1aModalItem_mb0 {
  margin-bottom: 0.2rem;
}

.step1aModalItem_pt {
  padding-top: 2rem;
}

.step1aModalItem__title {
  color: #003e7e;
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
  margin-bottom: 0rem;
}

.step1aModalItem__title_lght {
  color: #0a61ff;
}

.step1aModalItem__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 2px solid rgba(140, 168, 197, 0.33);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 1.8rem 1.5rem 0 1.8rem;
  padding: .4rem 0 0.7rem;
}

.step1aModalItem__text {
  color: #003e7e;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.03rem;
  margin-bottom: 0;
}

.step1aModalItem__text_bold {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.step1aModalItem__text_lght {
  color: #0a61ff;
}

.step1aModalItem__text_aft::after {
  border: solid #022a4e;
  border-width: .2rem 0 0 .2rem;
  content: '';
  display: block;
  height: .8rem;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: .8rem;
}

.step1aModalItem__link {
  color: #003e7e;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.04rem;
}

.step1aModalItem__link::after {
  border: solid #022a4e;
  border-width: .2rem 0 0 .2rem;
  content: '';
  display: block;
  height: .8rem;
  left: 0;
  margin-top: -0.9rem;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: .8rem;
}

.step1aModalItem__link::before {
  background: url(../img/sprite.png);
  background-position: 0 96.398892%;
  -webkit-background-size: 423.529412% 423.529412%;
  background-size: 423.529412%;
  content: '';
  display: inline-block;
  height: 2.7rem;
  margin-left: 1.5rem;
  vertical-align: middle;
  width: 1.9rem;
}

/*---------- STAGE 2A PAGE ----------*/

.bodyStage2a .wrapper,
.bodyStage2a main,
.bodyStage2b .wrapper,
.bodyStage2b main {
  background-color: #fff;
}

.bodyStage2a .topStage,
.bodyStage2b .topStage {
  padding: 1.0rem 0rem 1.8rem .6rem;
}

.bodyStage2a .navList,
.bodyStage2b .navList {
  margin-bottom: 2rem;
}

.bodyStage2a .nav__figure {
  right: 10.5rem;
}

.bodyStage2a .nav__progressBar {
  width: 14.5rem;
}

.bodyStage2b .nav__figure {
  right: 13.5rem;
}

.bodyStage2b .nav__progressBar {
  width: 17.5rem;
}

/*----- STAGE2A SECTION -----*/

.bodyStage2a .stageForm,
.bodyStage2b .stageForm {
  background-color: #f4f4f4;
  padding-bottom: 2rem;
}

.bodyStage2a .stageForm__text,
.bodyStage2b .stageForm__text {
  margin-bottom: 1rem;
}

.bodyStage2a .stageForm__fieldset,
.bodyStage2b .stageForm__fieldset {
  padding: 2.5rem 3.3rem 1.9rem 3.1rem;
}

.bodyStage2a .stageForm__fieldset .stageForm__text:last-child,
.bodyStage2b .stageForm__fieldset .stageForm__text:last-child {
  min-width: 6.5rem;
}

.bodyStage2a .stageForm__fieldset .d-flex,
.bodyStage2b .stageForm__fieldset .d-flex {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bodyStage2a .stageForm div.stageForm__fieldset_1,
.bodyStage2b .stageForm div.stageForm__fieldset_1 {
  background-color: #fff;
  padding: 2.5rem 3.1rem 1.9rem 3.3rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_1 .stageForm__container,
.bodyStage2b .stageForm div.stageForm__fieldset_1 .stageForm__container {
  background-color: #fff;
}

.bodyStage2a .stageForm div.stageForm__fieldset_2,
.bodyStage2b .stageForm div.stageForm__fieldset_2 {
  padding-bottom: 2.8rem;
}

.bodyStage2a .stageForm__fieldset_3,
.bodyStage2b .stageForm__fieldset_3 {
  background-color: #f4f4f4;
}

.bodyStage2a .stageForm__fieldset_3 .stageForm__header,
.bodyStage2b .stageForm__fieldset_3 .stageForm__header {
  margin-top: 0;
}

.bodyStage2a .stageForm__fieldset_3 .stageForm__text,
.bodyStage2b .stageForm__fieldset_3 .stageForm__text {
  color: #022a4e;
  line-height: 2.2rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_4,
.bodyStage2b .stageForm div.stageForm__fieldset_4 {
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  margin-bottom: .5rem;
  padding-left: 4.6rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_4 .stageForm__header,
.bodyStage2b .stageForm div.stageForm__fieldset_4 .stageForm__header {
  margin-bottom: 3rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_4 .form-group,
.bodyStage2b .stageForm div.stageForm__fieldset_4 .form-group {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 4rem;
  margin-bottom: 1rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_4 .form-group:not(:last-child),
.bodyStage2b .stageForm div.stageForm__fieldset_4 .form-group:not(:last-child) {
  border-bottom: solid 1px rgba(2, 42, 78, 0.3);
}

.bodyStage2a .stageForm div.stageForm__fieldset_4 .stageForm__selectWrapper,
.bodyStage2b .stageForm div.stageForm__fieldset_4 .stageForm__selectWrapper {
  margin-left: 0.5rem;
  width: 10rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_4 .stageForm__select,
.bodyStage2b .stageForm div.stageForm__fieldset_4 .stageForm__select {
  width: 100%;
}

.bodyStage2a .stageForm div.stageForm__fieldset_5,
.bodyStage2b .stageForm div.stageForm__fieldset_5 {
  background-color: #f4f4f4;
  padding-left: 2.5rem;
  padding-top: 2rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_5 .stageForm__checkboxContainer,
.bodyStage2b .stageForm div.stageForm__fieldset_5 .stageForm__checkboxContainer {
  padding-right: 3rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_5 .stageForm__submit,
.bodyStage2b .stageForm div.stageForm__fieldset_5 .stageForm__submit {
  margin-top: 3.8rem;
}

.bodyStage2a .stageForm div.stageForm__fieldset_5 .stageForm__submit::after,
.bodyStage2b .stageForm div.stageForm__fieldset_5 .stageForm__submit::after {
  top: 1.8rem;
  left: 2.0rem;
}

.bodyStage2a .stageForm__container,
.bodyStage2b .stageForm__container {
  height: 5.5rem;
}

.bodyStage2a .stageForm__container:not(:last-child),
.bodyStage2b .stageForm__container:not(:last-child) {
  border-bottom: solid 1px rgba(140, 168, 197, 0.33);
}

.bodyStage2a .stageForm__link,
.bodyStage2b .stageForm__link {
  color: #0a61ff;
  margin-left: 1rem;
  position: relative;
  text-decoration: none;
}

.bodyStage2a .stageForm .stageForm__accordion .stageForm__link::after,
.bodyStage2b .stageForm .stageForm__accordion .stageForm__link::after {
  border: solid #0a61ff;
  border-width: 0 .2rem  .2rem 0;
  content: '';
  display: inline-block;
  height: .8rem;
  left: -2rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  vertical-align: middle;
  width: .8rem;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.bodyStage2a .stageForm .stageForm__accordion .stageForm__link.collapsed::after,
.bodyStage2b .stageForm .stageForm__accordion .stageForm__link.collapsed::after {
  margin-top: -0.5rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.accordionItem {
  background-color: #f4f4f4;
  padding: 1.2rem 0 1rem;
}

.accordionItem__header {
  color: #022a4e;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
}

.accordionItem__container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordionItem__container .stageForm__text {
  color: #022a4e;
  margin-bottom: 0.5rem;
}

.stageForm__list {
  list-style-type: none;
  padding: 1rem 0 0 0;
}

.stageForm__listItem {
  color: #003e7e;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.55rem;
}

.stageForm__listItem::before {
  background: url(../img/sprite.png);
  background-position: 0 87.648673%;
  -webkit-background-size: 378.947368% 378.947368%;
  background-size: 378.947368%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  content: '';
  display: inline-block;
  height: 2.0rem;
  margin-left: 1.5rem;
  vertical-align: middle;
  width: 2.0rem;
}

.stageForm__header {
  color: #003e7e;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1.3rem 0 1rem;
}

.stageForm__header_bold {
  color: #022a4e;
  font-size: 1.7rem;
  font-weight: 700;
}

/*---------- STAGE 2B PAGE ----------*/

.bodyStage2b .stage2b__form .stageForm__fieldset {
  padding: 4.3rem 4.4rem 1.9rem 3.1rem;
}

.bodyStage2b .stage2b__form .stageForm__fieldset_1 {
  border-bottom: none;
}

.bodyStage2b .stage2b__form div.stageForm__fieldset_2 {
  padding-top: 1.8rem;
  padding-bottom: 3.8rem;
}

.bodyStage2b .stage2b__form div.stageForm__fieldset_5 {
  padding: 3.1rem 1.4rem 3rem 1.1rem;
}

.bodyStage2b .stage2b__form .stageForm__title::before {
  display: none;
}

.bodyStage2b .stage2b__form .form-row {
  height: 6.2rem;
  padding-left: 2.5rem;
}

.bodyStage2b .stage2b__form .stage2b__formContainer {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.bodyStage2b .stage2b__form .stageForm__fieldset_1 .col:last-child,
.bodyStage2b .stage2b__form .stageForm__fieldset_2 .col:last-child {
  margin-right: -11rem;
}

.bodyStage2b .stage2b__form input {
  width: 100%;
}

.bodyStage2b .stage2b__form .bottomButton_next {
  padding-right: 7.4rem;
}

.bodyStage2b .stage2b__form .bottomButton_next::after {
  left: 5rem;
}

.bodyStage2b .stage2b__form .bottomButton_prev::after {
  right: 1.5rem;
}

/*---------- STAGE 3A PAGE ----------*/

.bodyStage3a .nav__figure {
  right: 20.3rem;
}

.bodyStage3a .nav__progressBar {
  width: 24.5rem;
}

.topStage3a {
  padding-top: 1.0rem;
  padding-bottom: 1.3rem;
}

.topStage3a nav {
  padding-left: 0.5rem;
}

.topStage3a .topStage__title {
  margin-bottom: 1rem;
}

.topStage3a .topStage__subtitle {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
}

.stageTip {
  background-color: #f4f4f4;
  padding: 1rem 0;
}

.stageTip__text {
  color: #022a4e;
  font-size: 1.5rem;
  font-weight: 400;
  margin-right: 4rem;
  line-height: 2rem;
  margin-bottom: 0;
  position: relative;
}

.stageTip__text::before {
  background: url(../img/sprite.png);
  background-position: 0 83.624655%;
  -webkit-background-size: 360% 360%;
  background-size: 360%;
  background-repeat: no-repeat;
  content: '';
  display: inline-block;
  height: 2.2rem;
  overflow: hidden;
  right: -2.5rem;
  margin-top: -1.5rem;
  max-width: 100%;
  position: absolute;
  top: 50%;
  width: 2.0rem;
}

.stage3a__form {
  background-color: #f4f4f4;
}

.stage3a__form .stageForm__title::before {
  display: none;
}

.stage3a__form .form-row {
  padding: 1.3rem 0 2.3rem;
}

.stage3a__form .form-row_pb1 {
  padding-bottom: 1rem;
}

.stage3a__form .form-group {
  margin-bottom: 0;
}

.stage3a__form .form-group_pl2 {
  padding-left: 2rem;
}

.stage3a__form .stageForm__text {
  line-height: 1.5rem;
  margin-bottom: 0;
}

.stage3a__form .stageForm__fieldset_1 {
  border-bottom: none;
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  margin-bottom: .5rem;
  padding: 3rem 4.1rem 1.2rem 3rem;
}

.stage3a__form .stageForm__fieldset_1 .col:last-child {
  margin-right: 0;
}

.stage3a__form .stageForm__fieldset_5 {
  background-color: #f4f4f4;
  padding: 2.5rem 4.5rem 5rem 2.5rem;
}

.stage3a__form .icon {
  cursor: pointer;
  display: inline-block;
  background-image: url(../img/sprite.png);
  max-width: 100%;
}

.stage3a__form .icon-question {
  background-position: 0 91.5828%;
  -webkit-background-size: 378.947368% 378.947368%;
  background-size: 378.947368%;
  height: 1.9rem;
  width: 1.9rem;
}

.stage3a__form .stageForm__checkbox {
  margin-bottom: 3.2rem;
}

.stage3a__form .stageForm__submit {
  padding: 1.1rem 4.5rem;
}

.stage3a__form .stageForm__submit::after {
  left: 3.2rem;
  margin-top: -0.4rem;
  top: 50%;
}

.stageFormPaymentItem {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.9rem;
  padding: 1.8rem 0 0 .5rem;
}

.stageFormPaymentItem__figure {
  margin-bottom: 0;
}

.stageFormPaymentItem__figure .icon-american {
  background-position: 0 18.251681%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
  width: 7.1rem;
  height: 4.5rem;
}

.stageFormPaymentItem__figure .icon-american:hover,
.stageFormPaymentItem__figure .icon-american:focus {
  background-position: 0 27.377522%;
}

.stageFormPaymentItem__figure .icon-master {
  background-position: 0 36.503362%;
  -webkit-background-size: 101.408451% 101.408451%;
  background-size: 101.408451%;
  width: 7.1rem;
  height: 4.5rem;
}

.stageFormPaymentItem__figure .icon-master:hover,
.stageFormPaymentItem__figure .icon-master:focus {
  background-position: 0 45.629203%;
}

.stageFormPaymentItem__figure .icon-diners {
  background-position: 0 54.755043%;
  -webkit-background-size: 102.857143% 102.857143%;
  background-size: 102.857143%;
  width: 7.1rem;
  height: 4.5rem;
}

.stageFormPaymentItem__figure .icon-diners:hover,
.stageFormPaymentItem__figure .icon-diners:focus {
  background-position: 0 63.880884%;
}

.stageFormPaymentItem__figure .icon-visa {
  background-position: 0 0%;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  width: 7.2rem;
  height: 4.5rem;
}

.stageFormPaymentItem__figure .icon-visa:hover,
.stageFormPaymentItem__figure .icon-visa:focus {
  background-position: 0 9.125841%;
}

/*---------- STAGE 3B PAGE ----------*/

.bodyStage3b .nav__figure {
  left: 2.7rem;
  right: auto;
}

.bodyStage3b .nav__progressBar {
  width: 34.8rem;
}

.topStage3b {
  padding: 1.3rem 0rem 3.4rem;
}

.topStage3b .navList {
  margin-bottom: 5.5rem;
}

.topStage3b .topStage__title {
  margin-bottom: 0;
}

.stage3b__form .stageForm__fieldset_1 {
  -webkit-box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  margin-bottom: .5rem;
  padding: 2.4rem 3.5rem 2rem 3rem;
}

.stage3b__form .stageForm__fieldset_5 {
  background-color: #f4f4f4;
  padding: 0 3.5rem;
}

.stage3b__form .stageForm__fieldset_5 .form-row {
  padding-top: 1rem;
}

.stage3b__form .stageForm__fieldset_5 .form-group {
  margin-bottom: 0;
  padding: 1.4rem 0 1.9rem;
}

.stage3b__form .stageForm__fieldset_5 .form-group_pb0 {
  padding-bottom: 0;
}

.stage3b__form .stageForm__fieldset_5 .stageForm__checkboxContainer {
  padding-right: 2.5rem;
}

.stage3b__form .stageForm__fieldset_5 .stageForm__text {
  margin-bottom: 0;
}

.stage3b__form .stageForm__fieldset_5 .stageForm__text_mt08 {
  margin-top: 0.8rem;
}

.stage3b__form .stageForm__container {
  height: 5.6rem;
  padding-left: 0;
}

.stage3b__form .stageForm__container:not(:last-child) {
  border-bottom: solid 1px rgba(140, 168, 197, 0.33);
}

.stage3b__form .stageForm__text_date::after {
  content: '|';
  margin: 0 0.5rem;
}

.stage3b__form .icon {
  display: inline-block;
  margin-left: 1rem;
  vertical-align: middle;
}

.stage3b__form .stageForm__submit {
  margin: 3rem auto 5rem;
  padding: 1.1rem 9rem;
}

.stage3b__form .stageForm__submit::after {
  left: 2.8rem;
  margin-top: -0.4rem;
  top: 50%;
}

.icon-calander {
  height: 2.2rem;
  width: 2.1rem;
}

.icon-number {
  height: 1.7rem;
  width: 1.7rem;
}

.icon-wallet {
  height: 2.3rem;
  width: 2.3rem;
}
