/*---------- HOME PAGE  ----------*/
html{
    font-size: 10px;

}
body{
    direction: rtl;
    font-family: $fontMain;
    position: relative;
    min-height: 100%;
}
.wrapper{
    background-color: $colorMain;
    margin: 0 auto;
    max-width: 750px;
    min-height: 100vh;
    padding: 0 0 10.0rem 0;
}

/*----- HEADER -----*/
header{
    background-color: #fff;
    padding: 1.6rem 1.5 1.6rem;
}
.header-content{
    align-items: center;
    display: flex;
    justify-content: space-between;
    .header__figure:first-child{
        margin-left: 9.0rem;
    }
}

/*----- MAIN -----*/

/*----- TOP-SECTION -----*/

.top-section{
    background-color: $colorMain;
    padding: 3.0rem 1.5rem 1.5rem;
}

.top{
    &__figure{
        margin: 0 auto 3.0rem;
        padding: 0 3.5rem;
        text-align: center;
    }
    &__img{
        // display: inline-block;
        margin: 0 auto;
        width: 100%;
    }
    &__title{
        color: #fff;
        font-family: $fontMain;
        font-size: 2.2rem;
        font-weight: 700;
        letter-spacing: 0.7px;
        margin: 0 auto 1rem;
        text-align: center;
    }
    &__subtitle{
        color: #d8d8d8;
        font-family: $fontMain;
        font-size: 2.0rem;
        font-weight: 400;
        letter-spacing: 0.7px;
        line-height: 2.0rem;
        margin: 0 auto;
        text-align: center;
    }
}

.loginForm{
    padding: 0 2.5rem 0 3.0rem;
    margin: 0 auto;
    text-align: center;
    .form-group{
        margin-bottom: 2.0rem;
    }
    &__label{
    }
    &__input{
        background-color: $colorMain;
        border-color: rgba(255, 255, 255, 0.46);
        border-width: 0 0 1px 0;
        color: #fff;
        font-size: 1.6rem;
        outline: 0;
        padding: 0 0 .8rem 0;
        width: 100%;
    }
    &__submit{
        background-color: #fcc40a;
        border-radius: 2.4rem;
        border: none;
        color: #022a4e;
        cursor: pointer;
        font-size: 1.6rem;
        font-family: $fontMain;
        font-weight: 700;
        letter-spacing: .7px;
        padding: 1.0rem 4.5rem;
    }

    ::-webkit-input-placeholder {
      color: #fff;
      font-family: $fontMain;
      font-weight: 400;
      font-size: 1.6rem;
      letter-spacing: 0.5px;
    }
    ::-moz-placeholder {
        color: #fff;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }
    :-ms-input-placeholder {
        color: #fff;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }
    :-moz-placeholder {
        color: #fff;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.6rem;
        letter-spacing: 0.5px;
    }
    ::-moz-placeholder {
      opacity: 1;
    }
}

/*----- FOOTER-----*/

footer{
    background-color: $colorMain;
    padding: 1.5rem 1.4rem 2.0rem;
}
.footer{
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
}
.footer__text{
    color: #fff;
    font-family: $fontMain;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 0;
    opacity: .6;
}
