/*---------- STAGE1B PAGE ----------*/

.bodyStage1b{
    .wrapper{
        padding-bottom: 5rem;
    }
    .wrapper, .footer{
        background-color: #f4f4f4;
    }
    main{
        background-color: #f4f4f4;
        margin-bottom: 0rem;
    }
    .footer{
        background-color: #f4f4f4;
        padding-top: 0rem;
    }
}

/*----- topStage1b - section -----*/

.topStage1b-section{

}

.topStage1b{
    background-color: $colorMain;
    padding: 1.0rem 0rem 5.0rem;
    &__title{
        color: #fff;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 2.1rem;
        letter-spacing: 0.1px;
        margin-bottom: 4.0rem;
        text-align: center;
    }
}

nav{
    position: relative;
    .nav__figure{
        position: absolute;
        right: .5rem;
        top: 2.0rem;
    }
    .nav__img{
        position: relative;
        width: 5.3rem;
        z-index: 1;
    }
    .nav__progressBar{
        background-color: #fcc40a;
        bottom: -2.5rem;
        height: .5rem;
        position: absolute;
        right: 0;
        width: 5.5rem;
        z-index: 0;
        &::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width:  .5rem .5rem 0 0;
            border-color: $colorMain transparent transparent  transparent;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
    .navList{
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6.0rem;
        padding: 0rem .5rem;
        &__item{
            display: inline-block;
            position: relative;
            text-align: center;
        }
        &__item_divider::after{
            border: 1px solid #fff;
            border-width: 0 1px 1px 0;
            content: '';
            display: block;
            height: .8rem;
            left: 0;
            position: absolute;
            top: -0.4rem;
            transform: rotate(135deg);
            width: .8rem;
        }
        &__link{
            color: #fff;
            font-family: $fontMain;
            font-size: 1.4rem;
            font-weight: 300;
            white-space: nowrap;
            &:hover, &:focus{
                color: #fff;
                text-decoration: none;
            }
            &_active{
                color: #fcc40a;
                font-family: $fontMain;
                font-weight: 700;
                line-height: 1.8rem;
                &:hover, &:focus{
                    color: #fcc40a;
                }
            }
        }
    }
}

.topStage1bForm{
    text-align: center;
    .form-group{
        align-items: center;
        display: flex;
        justify-content: center;
    }
    &__label{
        color: #fff;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.4rem;
        margin: 0 0 0 2.5rem;
    }
    &__select{
        background-color: transparent;
        border: 0rem;
        color: #022a4e;
        cursor: pointer;
        font-family: $fontMain;
        font-weight: 700!important;
        font-size: 1.4rem;
        outline: 0rem;
        padding: .9rem 2.0rem 0rem 3.0rem;
        text-align-last: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
        vertical-align: middle;
        width: 100%;
        -moz-appearance: none;
        -webkit-appearance: none;
        &::-ms-expand {
         display: none;
         option{
             border: 0rem;
             font-family: $fontMain;
             font-weight: 700!important;
             font-size: 1.4rem;
             outline: 0rem;
         }
       }
    }

    &__selectWrapper{
        border-radius: 2.0rem;
        background-color: #fcc40a;
        display: inline-block;
        height: 4.0rem;
        margin: 0rem;
        position: relative;
        width: 11.5rem;
        &::after{
            border-color: #022a4e transparent transparent transparent;
            border-style: solid;
            border-width: .5rem .5rem 0rem .5rem;
            content: '';
            display: inline-block;
            height: 0rem;
            margin-top: -0.2rem;
            pointer-events: none;
            position: absolute;
            left: 2.0rem;
            top: 50%;
            width: 0rem;
            z-index: 1;
        }
    }

}

.stage1bForm{
    background-color: #f4f4f4;
    padding: 0rem 0rem 0rem;
    .form-row, &__containerRow{
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
    .form-row{
        padding: 3.0rem 0rem 2.0rem;
        &_border{
            border-bottom: solid 1px rgba(140, 168, 197, 0.33);
        }
        &_algnSt{
            align-items: flex-start;
        }
    }
    &__fieldset{
        background-color: #fff;
        padding: 0rem 4.5rem;
        &_1{
            border-bottom: solid 1px rgba(140, 168, 197, 0.33);
            padding-top: 3.0rem;
        }
        &_2{
            box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
            margin-bottom: .5rem;
            padding-top: 3.0rem;
        }
        &_3{
            background-color: #f4f4f4;
            padding-bottom: 5.0rem;
            .form-row{
                padding: 2.0rem 0rem 1.5rem;
            }
            & .form-row_pt25 {
                padding: 2.5rem 0 2.5rem;
            }
        }
    }

    .col{
        padding: 0rem;
    }
    .form-group{
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    &__title{
        color: $colorText;
        font-family: $fontMain;
        font-weight: 700;
        font-size: 1.8rem;
        letter-spacing: -0.4px;
        &::before{
            background: url(../img/stageB/icon.svg) center no-repeat;
            border-radius: 50%;
            background-size: 100%;
            content: '';
            display: inline-block;
            height: 3.3rem;
            margin-left: 1.5rem;
            vertical-align: middle;
            width: 3.3rem;
        }
    }
    &__label, &__text{
        color: $colorText;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.5rem;
    }
    &__text{
        display: inline-block;
        &_bold{
            font-family: $fontMain;
            font-weight: 700;
        }
    }

    input{
        border: solid 1px rgba(140, 168, 197, 0.33);
        border-width: 0 0 1px 0;
        color: $colorInput;
        outline: 0px;
        padding: 0;
        @include placeholder{
            color: $colorInput;
            font-family: $fontMain;
            font-weight: 400;
            font-size: 1.5rem;
            letter-spacing: 0.6px;
        }
    }
    select{
        color: $colorInput;
        font-family: $fontMain;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 0.6px;
        @include selectReset();
    }
    &__input{

    }
    &__select{
        padding: 0 0 0 1.5rem;
        &_pl5{
            padding-left: .5rem;
        }
    }
    &__radioContainer{
        color: $colorText;
        font-weight: 400;
        display: inline-block;
        position: relative;
        padding-right: 2.5rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        font-size: 1.6rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input {
          position: absolute;
          opacity: 0;
        }
        &:last-child{
            margin-right: 1.0rem;
        }
        &_mr0:last-child{
            margin-right: 0;
        }
    }
    &__radioCheckmark{
        position: absolute;
        top: .4rem;
        right: 0;

    }
    &__selectWrapper{
        display: inline-block;
        margin: 0 ;

        position: relative;
        &::after{
            border-style: solid;
            border-width: .5rem .5rem 0 .5rem;
            border-color: $colorText transparent transparent transparent;
            content: '';
            display: inline-block;
            height: 0;
            margin-top: -0.2rem;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 50%;
            width: 0;
            z-index: 1;
        }
    }

    &__checkbox{

    }
    &__checkboxContainer{
        color: $colorText;
        font-weight: 400;
        font-size: 1.5rem;
        display: block;
        position: relative;
        padding-right: 3.5rem;
        margin-bottom: 0;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        input{
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
    }
    &__checkboxMark{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__submit{
        border: 0;
        border-radius: 2.4rem;
        background-color: #022a4e;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
        color: #fff;
        cursor: pointer;
        display: block;
        font-family: $fontMain;
        font-weight: 700;
        font-size: 1.6rem;
        margin: 2.0rem auto 0;
        padding: .9rem 3.9rem;
        position: relative;
        &::after{
            border: solid #fff;
            border-width: 0 0 .2rem .2rem;
            content: '';
            display: block;
            height: .9rem;
            left: 1.5rem;
            position: absolute;
            top: 1.6rem;
            transform: rotate(45deg);
            width: .9rem;

        }

    }

    .icon-check-on, .icon-radio-on{
        display: none;
    }

    &__radioContainer input:checked ~ &__radioCheckmark .icon-radio-off {
        display: none;
    }
    &__radioContainer input:checked ~ &__radioCheckmark .icon-radio-on {
        display: inline-block;
    }

    &__checkboxContainer input:checked ~ &__checkboxMark  .icon-check-off{
     display: none;
    }
    &__checkboxContainer input:checked ~ &__checkboxMark  .icon-check-on {
      display: inline-block;
    }
    &__fieldset_3 &__text{
        display: block;
    }
}
.bodyStage1b .footer__text{
    color: rgba(0, 62, 126, 1);
}

.stage1bForm__label._checked{
    color: $colorInput;
}
