@import "../../node_modules/sass-rem/rem";
$rem-baseline: 10px;
$fontBold: 'open_sans_hebrewbold';
$fontBoldExtra: 'open_sans_hebrewextra_bold';
$fontLight: 'open_sans_hebrewlight';
$fontRegular: 'open_sans_hebrewregular';
$fontMain: 'Open Sans Hebrew', sans-serif;
$colorMain: #022a4e;
$colorInput: #0a61ff;
$colorText: #003e7e;
@function calculateRem($size) {
	$remSize: $size / 10px;
	@return $remSize * 1rem;
}
@mixin font-size($size) {
	font-size: calculateRem($size);
}



@mixin placeholder {
	&::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
	&::-moz-placeholder {
 		 opacity: 1;
	}
}

@mixin selectReset {
	border: 0px;
	outline: 0px;
	-moz-appearance: none;
	-webkit-appearance: none;
	&::-ms-expand {
	 display: none;
	 option{
		 border: 0px;
		 outline: 0px;
	 }
    }
}
